<div class="row">
    <div class="col-md-12 text-xs-center">
        Tarjetas seleccionadas <span id="isi_totChkSel_lst-general" name="lst-general" class="label label-pill label-info isi_badge">0</span>
    </div>
</div>
<br>
{% for regi in listado %}
<div id="isi_fila_lst-general-{{regi.id | urlencrypt}}" class="col-md-3">
    <label class="isi_filtrable" name="lst-general" for="isi_fila_lst-general-{{regi.id | urlencrypt}}">{{regi.apellido|lower}} {{regi.nombre|lower}} {{regi.dni}} {{regi.fnac}} {{regi.ffallec}}</label>
    <div class="card" style="background:#587996;">
        <div class="col-md-2 pull-xs-right" style="padding-top:15px;">
            <input id="isi_chkMA{{regi.id | urlencrypt}}" type="checkbox" name="lst-general" value="{{regi.id | urlencrypt}}" class="isi_chkFiltrable">
        </div>
        {% if regi.foto | trim is empty %}
            <img class="isi_fotoPersCards center-block" src="{{ asset('imagenes/sin_foto.png') }}">
        {% else %}
            <img class="isi_fotoPersCards center-block" src="{{regi.foto}}" alt="Foto Actual">
        {% endif %}
        <div class="card-block bg-inverse">
            <span>
                {% if ((regi.apellido|length) + (regi.nombre|length)) > 30 %}
                    {{regi.apellidox | title | raw}}, {{regi.nombrex | title | raw}}
                {% else %}
                    {{regi.apellidox | title | raw}}, {{regi.nombrex | title | raw}}
                    <br>
                {% endif %}
            </span>
            <br>Dni: {{regi.dnix | raw}}
            <br>Nacimiento: {{regi.fnacx | raw}}
            <br>Fallecimiento: {{regi.ffallecx | raw}}
        </div>
        <div class="card-footer" style="background:#acb4b5;">
            <div class="row">
                <div class="col-md-8">
                    <a id="isi_lnk_verTodo{{regi.id | urlencrypt}}" href="#" title="Ver datos completos">
                        <i class="fa fa-eye fa-lg text-primary"aria-hidden="true"></i>
                    </a> &nbsp;&nbsp;&nbsp;
                    <a id="isi_lnk_editar{{regi.id | urlencrypt}}" href="{{url('isi_persona_M', {'id': regi.id | urlencrypt})}}" title="Editar">
                        <i class="fa fa-pencil fa-lg text-primary" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
