<table id="isi_lst_resu_pers" name="lst_resu_pers" class="table table-bordered">
    <thead id="{{totRegi}}" class="bg-info text-white text-capitalize">
        <tr>
            <th name="lst_resu_pers" class="isi_chkColu">
                <input id="isi_inpChk_todos" name="lst_resu_pers" type="checkbox" class="isi_chk_grupo" title="Seleccionar todos">
                <span id="isi_totChkSel_lst_resu_pers" name="lst_resu_pers" class="tag tag-primary isi_badge">0</span>
            </th>
            <th>d. n. i.</th>
            <th>apellido(s)</th>
            <th>nombre(s)</th>
            <th>f. nacim.</th>
            <th>em@il</th>
            <th>observaciones</th>
            <th class="text-xs-center isi_accColu-2x">
                <i class="fa fa-wrench" aria-hidden="true"></i>
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for regi in listado %}
            <tr id="isi_fila_lst_resu_pers-{{regi.id|urlencrypt}}">
                <label class="isi_filtrable" name="lst_resu_pers" for="isi_fila_lst_resu_pers-{{regi.id|urlencrypt}}">{{regi.apellido|lower}} {{regi.nombre|lower}} {{regi.dni}} {{regi.descrip|lower}} {{regi.fnac}} {{regi.ffallec}} {{regi.email}}</label>
                <td name="lst_resu_pers">
                    <input id="isi_chkMA{{regi.id|urlencrypt}}" type="checkbox" name="lst_resu_pers" value="{{regi.id|urlencrypt}}" class="isi_chkFiltrable">
                </td>
                <td>{{regi.dnix|raw}}</td>
                <td>{{regi.apellidox|title|raw}}</td>
                <td>{{regi.nombrex|title|raw}}</td>
                <td>{{regi.fnac}}</td>
                <td>{{regi.emailx|raw}}</td>
                <td>{{regi.descripx|raw}}</td>
                <td class="text-xs-center isi_accColu-2x">
                    <a id="isi_lnk_verTodo{{regi.id|urlencrypt}}" href="#" title="Ver datos completos">
                        <i class="fa fa-eye fa-lg text-info" aria-hidden="true"></i>
                    </a>
                    <a id="isi_lnk_editar{{regi.id|urlencrypt}}" href="{{url('isi_persona_M', {'id': regi.id|urlencrypt})}}" title="Editar">
                        <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        {% if app.session.get('persSelecBD') is not empty %}
            {% for regi in app.session.get('persSelecBD') %}
                <tr id="isi_fila_lst_resu_pers-ses-{{regi.id|urlencrypt}}" class="table-info">
                    <label class="isi_filtrable" name="lst_resu_pers" for="isi_fila_lst_resu_pers-ses-{{regi.id|urlencrypt}}">{{regi.apellido|lower}} {{regi.nombre|lower}} {{regi.dni}} {{regi.descrip|lower}} {{regi.fnac}} {{regi.ffallec}} {{regi.email}}</label>
                    <td name="lst_resu_pers">
                        <input id="isi_chkMA{{regi.id|urlencrypt}}" type="checkbox" name="lst_resu_pers" value="{{regi.id|urlencrypt}}" class="isi_chkFiltrable">
                    </td>
                    <td>{{regi.dni}}</td>
                    <td>{{regi.apellido | title}}</td>
                    <td>{{regi.nombre | title}}</td>
                    <td>{{regi.fnac}}</td>
                    <td>{{regi.email}}</td>
                    <td>{{regi.descrip}}</td>
                    <td class="text-xs-center isi_accColu-2x">
                        <a id="isi_lnk_verTodo{{regi.id|urlencrypt}}" href="#" title="Ver datos completos">
                            <i class="fa fa-eye fa-lg text-info" aria-hidden="true"></i>
                        </a>
                        <a id="isi_lnk_editar_ses{{regi.id|urlencrypt}}" href="{{url('isi_persona_M', {'id': regi.id|urlencrypt})}}" title="Editar">
                            <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
