<div class="table table-striped table-responsive">
    <table id="isi_lst_pers_trab" name="lst_pers_trab" class="table table-bordered">
        <thead id="{{totRegi}}" class="bg-info">
            <tr>
                <th name="lst_pers_trab" class="isi_chkColu">
                    <input id="isi_inpChk_todos" name="lst_pers_trab" type="checkbox" class="isi_chk_grupo" title="Seleccionar todos">
                    <span id="isi_totChkSel_lst_pers_trab" name="lst_pers_trab" class="tag tag-primary isi_badge">0</span>
                </th>
                <th>D. N. I.</th>
                <th>Apellido(s)</th>
                <th>Nombre(s)</th>
                <th>F. Nacim.</th>
                <th>Em@il</th>
                <th>Observaciones</th>
                <th class="text-xs-center isi_accColu-2x">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for regi in listado %}
                <tr id="isi_fila_lst_pers_trab-{{regi.id|urlencrypt}}">
                    <label class="isi_filtrable" name="lst_pers_trab" for="isi_fila_lst_pers_trab-{{regi.id|urlencrypt}}">{{regi.apellido|lower}} {{regi.nombre|lower}} {{regi.dni}} {{regi.descrip|lower}} {{regi.fnac}} {{regi.ffallec}} {{regi.email}}</label>
                    <td name="lst_pers_trab">
                        <input id="isi_chkMA{{regi.id|urlencrypt}}" type="checkbox" name="lst_pers_trab" value="{{regi.id|urlencrypt}}" class="isi_chkFiltrable">
                    </td>
                    <td>{{regi.dnix|raw}}</td>
                    <td>{{regi.apellidox|title|raw}}</td>
                    <td>{{regi.nombrex|title|raw}}</td>
                    <td>{{regi.fnac}}</td>
                    <td>{{regi.emailx}}</td>
                    <td>{{regi.descripx|raw}}</td>
                    <td class="text-xs-center isi_accColu-2x">
                        <a id="isi_lnk_verTodo{{regi.id|urlencrypt}}" href="#" title="Ver datos completos">
                            <i class="fa fa-eye fa-lg text-info" aria-hidden="true"></i>
                        </a>
                        <a id="isi_lnk_editar{{regi.id|urlencrypt}}" href="{{url('isi_persona_M', {'id': regi.id|urlencrypt})}}" title="Editar">
                            <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
