{% extends "::base.html.twig" %}
{% block contenido %}
    {{ parent() }}
    <div class="row">
        <div class="col-md-8 offset-md-2" align="middle">
            <div class="card isi_sombra-4x">
            <div class="card-header">
                Tipo de Lugar de Trabajo
            </div>
                <div class="card-block">
                    <!-- <h4 class="card-title">Nuevo</h4> -->
                    {{ form_start(form) }}
                        <div class="">
                            {{ form_errors(form) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.descrip) }}
                            <label class="sr-only" for="est_civiles_descrip">Género</label>
                            {{ form_widget(form.descrip, {"attr": {"class":"form-control", "onfocus":"select();", "onblur":"this.value = this.value.toLowerCase();", "autofocus":"true", "placeholder":"Tipo de lugar"}} ) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.nivel) }}
                            <label class="sr-only" for="est_civiles_codindec">Descripción</label>
                            {{ form_widget(form.nivel, {"attr": {"class":"form-control", "onblur":"this.value = this.value.toLowerCase();", "placeholder":"nivel jerárquico"}} ) }}
                        </div>
                        <div class="form-group">
                            <button id="isi_btnGrabar" type="submit" class="btn btn-success" title="Confirmar">
                                &nbsp;<i class="fa fa-check fa-lg" aria-hidden="true"></i>&nbsp;
                            </button>
                        </div>
                    {{ form_widget(form._token) }} {# Token CSRF sin esto no envia el formulario #}
                    {{ form_end(form, {"render_rest": false}) }} {# de esta forma no estan en la pagina el resto del formulario (usr crea, actu, ip crea, actu, fecha crea, actu) #}
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="text-xs-center">
        <a id="isi_lnk_listado" href="{{url('isi_config_tipoLugTrab')}}" class="btn btn-secondary" title="Volver al listado">
            &nbsp;<i class="fa fa-list-alt fa-lg" aria-hidden="true"></i>&nbsp;
        </a>
    </div>
{% endblock %}
