{% extends "IsiPersonaBundle:Default:buscador.html.twig" %}
{% block contenido %}
    {{ parent() }}
{% endblock %}
{% block opsFormResuF3Pers %}
    id="frmPersOfis" action="{{url('isi_personal_oficinas')}}" method="GET"
{% endblock %}
{% block acciones %}
    {{ parent() }}
    <div class="text-xs-center">
        <a id="isi_btn_f3SelPersLugTrab" name="lst_resu_pers" class="btn btn-primary" href="{{ url('isi_personal_oficinas') }}" role="button" title="Asignarles oficina y horario a las personas seleccionadas">
            <i class="fa fa-briefcase fa-lg" aria-hidden="true"></i>
            <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
            &nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
        </a>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/isipersonal/js/isi_personal.js') }}" type="text/javascript"></script>
{% endblock %}
