<html>
    <head>
        {% block meta %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
        <title>{% block title %}INTEGRA - S. I.{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/normalize.css') }}" type="text/css" rel="stylesheet"/>
            <link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet"/>
            <link href="{{ asset('css/tether.min.css')}}" type="text/css" rel="stylesheet"/>
            <link href="{{ asset('fonts/fontAwesome/css/font-awesome.min.css')}}" type="text/css" rel="stylesheet"/>
            <link href="{{ asset('css/bootstrap-datepicker3.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/animate.css')}}" type="text/css" rel="stylesheet"/>
            <!-- <link href="{{ asset('css/toastr.css')}}" type="text/css" rel="stylesheet"/> -->
            <link href="{{ asset('css/sweetalert2.css')}}" type="text/css" rel="stylesheet"/>
            <link href="{{ asset('css/integra.css')}}" type="text/css" rel="stylesheet"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    </head>
    <body class="container-fluid">
        <div class="row">
            <div class="col-xs-1">
                {% block menu %}
                    <a id="btn_menu" class="nav-link ssm-toggle-nav" href="#" onclick="$('#isi_busk-menu').focus();"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
                    <nav id="isi_menu" class="nav" style="padding-left:4px;">
                        <div class='list-group'>
                            <div class="row" style="padding-right:15px;">
                                <button type='button' name="isi_lnk_menu" class='close ssm-toggle-nav' aria-label='Close' style='font-size:2em;'> <span aria-hidden='true'>&times;</span> </button>
                            </div>
                            <div class="clearfix"></div>
                            {% block itemsMenu %}
                                {% include ":menues:principal.html.twig" %}
                            {% endblock %}
                        </div>
                    </nav>
                {% endblock %}
            </div>
            <div class="col-xs-11 center-block text-xs-center" style="margin-top:3px;">
                {% block titulo%}
                    <span class="text-capitalize font-weight-bold text-muted">
                        {{ app.session.get('icoNombre') is not empty ? app.session.get('icoNombre')|raw : '' }}
                        <!-- <img src="{{ asset('imagenes/logo_empresa_simple.png') }}" alt="Usuario" class="img_menu"> -->
                    </span>
                {% endblock %}
            </div>
        </div>
        {% block persParaTrabajar %}
            {% include '::persParaTrabajar.html.twig' %}
        {% endblock %}
        {% block contenido%}
            {% include '::mensajes.html.twig' %}
        {% endblock %}
        {% block pie%}
            {% include '::piePagina.html.twig' %}
        {% endblock %}
        <div class='ssm-overlay ssm-toggle-nav'></div>
        {% block javascripts %}
            <script src="{{ asset('js/jquery.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/tether.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/jquery.slideandswipe.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/jquery.touchSwipe.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/bootstrap-datepicker.es.min.js') }}" type="text/javascript"></script>
            <!-- <script src="{{ asset('js/toastr.js') }}" type="text/javascript"></script> -->
            <script src="{{ asset('js/sweetalert2.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/integra.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
