<html>
    <head>
        {% block meta %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
        <title>{% block title %}INTEGRA - S. I.{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/normalize.css') }}" type="text/css" rel="stylesheet"/>
            <link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet"/>
            <link href="{{ asset('fonts/fontAwesome/css/font-awesome.min.css')}}" type="text/css" rel="stylesheet"/>
            <link href="{{ asset('css/integra.css')}}" type="text/css" rel="stylesheet"/>
            <!-- <link href="{{ asset('css/animate.css')}}" type="text/css" rel="stylesheet"/> -->
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    </head>
    <body class="container-fluid">
    {% block contenido%}
        {% block menu %}
            <a id="btn_menu" class="nav-link ssm-toggle-nav" href="#"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
            <nav id="isi_menu" class="nav" style="padding-left:4px;">
                <div class='list-group'>
                    <div class="row" style="padding-right:15px;">
                        <button type='button' name="isi_lnk_menu" class='close ssm-toggle-nav' aria-label='Close' style='font-size:2em;'> <span aria-hidden='true'>&times;</span> </button>
                    </div>
                    <div class="clearfix" />
                    {% block itemsMenu %}
                        {% include ":menues:principal.html.twig" %}
                    {% endblock %}
                </div>
            </nav>
        {% endblock %}
        {% include '::mensajes.html.twig' %}
    {% endblock %}
    {% block pie%}
        <div class="clearfix" />
        <footer class="text-center text-muted" style="position: fixed; bottom:5px; width:100%;">
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid pull-left" style="width:50px; height:50px;" src="{{asset('imagenes/logo_empresa_simple.png')}}" alt="Logo" />
                </div>
                <div class="col-md-4 text-xs-center">
                    <h6>INTEGRA - Servicios Informáticos</h6>
                    Todos los derechos reservados. 2003 - 2016
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </footer>
    {% endblock %}
    <div class='ssm-overlay ssm-toggle-nav'></div>
    {% block javascripts %}
        <script src="{{ asset('js/jquery.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery.slideandswipe.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/jquery.touchSwipe.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/integra.js') }}" type="text/javascript"></script>
    {% endblock %}
    </body>
</html>
