{#{app.session.get('persSelec')}#}
{#{app.session.get('persSelecIds')}#}
{#{ dump (app.session.get('persSelecBD'))}#}
{% if app.session.get('persSelecBD') is not empty %}
    <div style="position: absolute; top:5px; right:20px;">
        <a data-toggle="collapse" href="#persPTrab" aria-expanded="false" aria-controls="collapseExample" class="isi_lnkInfo">
            <i class="fa fa-users fa-lg text-muted " aria-hidden="true"></i>
            <i class="fa fa-list-ol fa-lg text-muted " aria-hidden="true"></i>
            <span class="tag tag-success">{{app.session.get('cantPerSel')}}</span>
        </a>
    </div>
    <div id="persPTrab" class="collapse">
        <div class="breadcrumb">
            <table id="isi_lst_pers_sesion" name="lst_pers_sesion" class="table table-sm table-inverse">
                <thead>
                    <tr>
                        <th name="lst_pers_sesion" class="isi_chkColu">
                            #
                            <input id="isi_inpChk_todos" name="lst_pers_sesion" type="checkbox" class="isi_chk_grupo" title="Seleccionar todos">
                            <span id="isi_totChkSel_lst_pers_sesion" name="lst_pers_sesion" class="tag tag-primary isi_badge">0</span>
                        </th>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>D. N. I.</th>
                        <th>F. Nacim</th>
                        <th class="text-xs-center isi_accColu">
                            <i class="fa fa-wrench" aria-hidden="true"></i>
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for regi in app.session.get('persSelecBD') %}
                        <tr>
                            <td scope="row" name="lst_pers_sesion">
                                {{ loop.index }}
                                <input id="isi_chkMA{{regi.id|urlencrypt}}" type="checkbox" name="lst_pers_sesion" value="{{regi.id|urlencrypt}}" class="isi_chkFiltrable">
                            </td>
                            <td>{{regi.apellido | title}}</td>
                            <td>{{regi.nombre | title}}</td>
                            <td>{{regi.dni}}</td>
                            <td>{{regi.fnac}}</td>
                            <td>
                                <a href="{{url('isi_persona_BSelPers', {'id': regi.id | urlencrypt})}}" class="isi_elimPersSelecTrab" title="Borrar">
                                <i class="fa fa-trash-o fa-lg text-danger" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-xs-right">
                        <a id="isi_selPersTrabElimTodos" name="lst_pers_sesion" class="btn btn-danger" href="{{ url('isi_persona_ABMSelPers') }}" role="button" title="Limpiar lista de personas">
                            &nbsp;<i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
