<header class="demo-drawer-header mdl-color--teal mdl-color-text--blue-grey-50" style="background: url({{ asset('imagenes/fondo_usr2.png') }}) no-repeat;">
    <!-- <img src="{{ asset('imagenes/sin_imagen_personal.png') }}" alt="Avatar" class="demo-avatar"> -->
    <img src="data:;base64, {{ app.user.imagen | trim}}" alt="Avatar" class="demo-avatar">
    <div class="demo-avatar-dropdown">
        <div class="mdl-layout-spacer"></div>
        {{ app.user.username | trim}}
        <button id="accbtn" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">arrow_drop_down</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
            <a class="mdl-menu__item" href="#">{{ app.user.email | trim}}</a>
            <a class="mdl-menu__item href="#">Preferencias</a>
            <a class="mdl-menu__item" href="{{ url('logout') }}">Cerrar sesión</a>
        </ul>
    </div>
</header>
