<div class="container">
    <img class="isi-usrAvatar" src='data:;base64, {{ app.user.imagen | trim}}' alt="Avatar">
    <div class="btn-group">
        <button type="button" class="btn btn-secondary-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ app.user.username | trim}}
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url('isi_sesion_homepage') }}">Mi inicio</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url('isi_sesion_usrA') }}">Preferencias</a>
            <a class="dropdown-item" href="{{ url('login') }}">Cambiar de usuario</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url('logout') }}">Cerrar sesión</a>
        </div>
    </div>
    <p class="text-primary"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{ app.user.email | trim}}</p>
</div>
