<div id="isi_div-estCivil" class="isi_divMenu">
    <label class="isi_filtrable" name="lnk_opc-menu" for="isi_div-estCivil">estado civil</label>
    <a class="list-group-item list-group-item-action" href="{{ url('isi_config_estCiv') }}">
        Estado civil
        <i class="fa fa-cog pull-xs-right isi_iconoEstCivil" aria-hidden="true"></i>
        <i class="fa fa-opera fa-2x pull-xs-right isi_iconoEstCivil" aria-hidden="true"></i>
    </a>
</div>
<div id="isi_div-identGenero" class="isi_divMenu">
    <label class="isi_filtrable" name="lnk_opc-menu" for="isi_div-identGenero">identidad genero género transgenero transgénero</label>
    <a class="list-group-item list-group-item-action" href="{{ url('isi_config_identGenero') }}">
        Identidad de género
        <i class="fa fa-cog pull-xs-right isi_iconoIdentGenero" aria-hidden="true"></i>
        <i class="fa fa-transgender-alt fa-2x pull-xs-right isi_iconoIdentGenero" aria-hidden="true"></i>
    </a>
</div>
<div id="isi_div-lugarNacim" class="isi_divMenu">
    <label class="isi_filtrable" name="lnk_opc-menu" for="isi_div-lugarNacim">lugar de nacimiento nacer</label>
    <a class="list-group-item list-group-item-action" href="{{ url('isi_config_lugNacim') }}">
        Lugar de nacimiento
        <i class="fa fa-cog pull-xs-right isi_iconoLugarNacim" aria-hidden="true"></i>
        <i class="fa fa-hospital-o fa-2x pull-xs-right isi_iconoLugarNacim" aria-hidden="true"></i>
    </a>
</div>
<div id="isi_div-GrupoSoc" class="isi_divMenu">
    <label class="isi_filtrable" name="lnk_opc-menu" for="isi_div-GrupoSoc">tipo grupo social familiar</label>
    <a class="list-group-item list-group-item-action" href="{{ url('isi_config_grupoSoc') }}">
        Tipos de grupos sociales
        <i class="fa fa-cog pull-xs-right isi_iconoGrupoSoc" aria-hidden="true"></i>
        <i class="fa fa-users fa-2x pull-xs-right isi_iconoGrupoSoc" aria-hidden="true"></i>
    </a>
</div>
<div id="isi_div-TipoLugTrab" class="isi_divMenu">
    <label class="isi_filtrable" name="lnk_opc-menu" for="isi_div-TipoLugTrab">tipo lugar trabajo</label>
    <a class="list-group-item list-group-item-action" href="{{ url('isi_config_tipoLugTrab') }}">
        Tipos de lugar de trabajo
        <i class="fa fa-cog pull-xs-right isi_iconoTipoLugTrab" aria-hidden="true"></i>
        <i class="fa fa-sitemap fa-2x pull-xs-right isi_iconoTipoLugTrab" aria-hidden="true"></i>
    </a>
</div>
<div id="isi_div-LugTrab" class="isi_divMenu">
    <label class="isi_filtrable" name="lnk_opc-menu" for="isi_div-LugTrab">lugar trabajo</label>
    <a class="list-group-item list-group-item-action" href="{{ url('isi_config_lugTrab') }}">
        Lugar de trabajo
        <i class="fa fa-cog pull-xs-right isi_iconoLugTrab" aria-hidden="true"></i>
        <i class="fa fa-industry fa-2x pull-xs-right isi_iconoLugTrab" aria-hidden="true"></i>
    </a>
</div>
<div id="isi_div-LugTrabPers" class="isi_divMenu">
    <label class="isi_filtrable" name="lnk_opc-menu" for="isi_div-LugTrab">persona oficina empleado agente lugar trabajo</label>
    <a class="list-group-item list-group-item-action" href="{{ url('isi_config_lugTrabPers') }}">
        Mi oficina
        <i class="fa fa-cog pull-xs-right isi_iconoLugTrabPers" aria-hidden="true"></i>
        <i class="fa fa-briefcase fa-2x pull-xs-right isi_iconoLugTrabPers" aria-hidden="true"></i>
    </a>
</div>
