{% extends "::base.html.twig" %}
{% block contenido %}
    {{ parent() }}
    {% if usuarios is not empty %}
        <div class="form-group row mx-auto text-xs-center">
            <div class="alert alert-info" role="alert">
                <strong><label class="col-md-3 offset-md-1 col-form-label text-xs-right" for="isi_lstPersUsr">Personas sin usuarios </label></strong>
                <div class="col-md-4">
                    <select id="isi_lstPersUsr" class="form-control">
                        {% for regi in usuarios %}
                            {% set selecionado = "" %}
                            {% if idSel == regi.id %}
                                {% set selecionado = "selected='selected'" %}
                            {% endif %}
                            <option value="{{url('isi_sesion_usrA')}}/{{regi.id}}" {{selecionado}}>ID: {{regi.id}} - {{regi.apellido | title}}, {{regi.nombre | title}} </option>
                        {% endfor %}
                    </select>
                </div><br><br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card isi_sombra-4x">
                    <div class="card-header mx-auto text-xs-center">
                        Crear un usuario
                    </div>
                    <div class="card-block">
                        {{ form_start(form, {"attr": {"class": "form-inline"}}) }}
                            <div class="">
                                {{ form_errors(form) }}
                            </div>
                            <div class="form-group isi_espacioForm">
                                <label class="sr-only" for="usuarios_username">Nombre de usuario</label>
                                {{ form_widget(form.username, {"attr": {"class":"form-control bg-info", "autofocus":"true", "disabled":"true", "placeholder":"Nombre de usuario"}}) }}
                                <small class="text-danger">{{ form_errors(form.username) }}</small>
                            </div>
                            <div class="form-group isi_espacioForm">
                                <label class="sr-only" for="usuarios_password">Contraseña</label>
                                {{ form_widget(form.password, {"attr": {"class":"form-control", "autofocus":"true", "pattern":"[A-Za-z0-9-]{8,}", "title":"Debe contener 8 caracteres como mínimo. Puedes usar Mayúsculas, minúsculas y Números", "placeholder":"Contraseña"}}) }}
                                <small class="text-danger">{{ form_errors(form.password) }}</small>
                                {{ form_widget(form.password2, {"attr": {"class":"form-control","pattern":"[A-Za-z0-9-]{8,}", "title":"Debe contener 8 caracteres como mínimo. Puedes usar Mayúsculas, minúsculas y Números", "placeholder":"Repetir contraseña"}}) }}
                                <small class="text-danger">{{ form_errors(form.password2) }}</small>
                            </div>
                            <div class="form-group isi_espacioForm">
                                <label class="sr-only" for="usuarios_email">Email</label>
                                {{ form_widget(form.email, {"attr": {"class":"form-control", "placeholder":"Em@il"}}) }}
                                <small class="text-danger">{{ form_errors(form.email) }}</small>
                            </div>
                            <div class="row">
                                <div class="col-md-2 offset-md-0">
                                    <div class="form-group isi_espacioForm">
                                        {{ form_widget(form.roles, {"attr": {"class":"form-control", "size":"6", "title":"Roles"}}) }}
                                    </div>
                                </div>
                                <div class="col-md-10 offset-md-0">
                                    <div class="form-group isi_espacioForm">
                                        <div class="col-md-2">
                                            <a id="isi_lnk_usrAvatar" data-toggle="collapse" href="#galeriaAvatar" aria-expanded="false" aria-controls="galeriaAvatar" title="Elije tu avatar">
                                                <img id="isi_img_usrAvatar" class="media-object card-img-top img-thumbnail mx-auto" src="{{ asset('imagenes/avatar/sin_avatar.png') }}">
                                            </a>
                                        </div>
                                        <div class="col-md-5 offset-md-1 pt-3 pl-3">
                                            <label class="sr-only" for="usuarios_persona">Persona</label>
                                            <div class="form-group isi_espacioForm">
                                                {{ form_widget(form.persona, {"attr": {"class":"form-control", "disabled":"true"}}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="collapse" id="galeriaAvatar">
                                <div class="card">
                                    <div class="card-header mx-auto text-xs-center">
                                        Disponibles
                                    </div>
                                    {% for avatar in avatars %}
                                        <img id="avatar-{{loop.index}}" src="{{avatar}}" class="img-rounded mx-auto d-inline-block isi_img_SelAvatar" style="cursor: pointer">
                                    {% endfor %}
                                </div>
                            </div>


                            <div class="clearfix"> </div>
                            <div class="text-xs-center">
                                <label class="sr-only" for="usuarios_isActive">activo?</label> <label for="usuarios_isActive">¿Activo?</label>
                                {{ form_widget(form.isActive, {"attr": {"class":"form-control", "checked":"true"}}) }}
                                <small class="text-danger">{{ form_errors(form.isActive) }}</small>
                            </div>
                            <div class="text-xs-center">
                                <button id="isi_btnGrabar" type="submit" class="btn btn-success" title="Confirmar">
                                    &nbsp;<i class="fa fa-check fa-lg" aria-hidden="true"></i>&nbsp;
                                </button>
                            </div>

                        {{ form_widget(form.imagen, {"attr": {"class":"isi_ocultar"}}) }}
                        {{ form_widget(form.salt, {"attr": {"class":"isi_ocultar", "placeholder":"Salt", "value":"-"}}) }}
                        {{ form_widget(form._token) }} {# Token CSRF sin esto no envia el formulario #}
                        {{ form_end(form, {"render_rest": false}) }} {# de esta forma no estan en la pagina el resto del formulario (usr crea, actu, ip crea, actu, fecha crea, actu) #}
                    </div>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}
{% block pie %}
{% endblock %}
