{% extends "::base.html.twig" %}
{% block contenido %}
    {{ parent() }}
    {% if app.session.get('persSelecBD') is not empty %}
        <div class="form-group row">
            <label class="col-xs-2 col-form-label text-xs-right" for="isi_lstPersUsr">Elija una persona </label>
            <div class="col-xs-4">
                <select class="form-control" id="isi_lstPersUsr">
                    {% for regi in app.session.get('persSelecBD') %}
                    <option value="{{regi.id}}">{{regi.dni}} - {{regi.apellido | title}}, {{regi.nombre | title}} </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
{% block pie %}
{% endblock %}
