{% extends "::base.html.twig" %}
{% block contenido %}
    {{ parent() }}
    {% if app.session.get('persSelecBD') is not empty %}
        <div class="form-group row">
            <label class="col-xs-2 col-form-label text-xs-right" for="isi_lstPersUsr">Personas sin usuarios </label>
            <div class="col-xs-4">
                <select class="form-control" id="isi_lstPersUsr">
                    {% for regi in app.session.get('persSelecBD') %}
                    <option value="{{regi.id}}">ID: {{regi.id}} - DNI:{{regi.dni}} - {{regi.apellido | title}}, {{regi.nombre | title}} </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="text-xs-center">
            <button id="isi_btnGrabar" type="submit" class="btn btn-success" title="Confirmar">
                &nbsp;<i class="fa fa-check fa-lg" aria-hidden="true"></i>&nbsp;
            </button>
        </div>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
{% block pie %}
{% endblock %}
