{% extends "::base.html.twig" %}
{% block contenido %}
    {{ parent() }}
    <div class="row">
        <div class="col-md-12">
            <div class="card isi_sombra-4x">
                <div class="card-header m-x-auto text-xs-center">
                    <div class="col-md-4 offset-md-4">
                        <label class="sr-only" for="usuarios_persona">Persona</label>
                        {{ form_widget(form.persona, {"attr": {"class":"form-control", "disabled":"true"}}) }}
                    </div>
                </div>
                <div class="card-block">
                    {{ form_start(form, {"attr": {"class": "form-inline"}}) }}
                        <div class="">
                            {{ form_errors(form) }}
                        </div>
                        <div class="form-group isi_espacioForm">
                            <label class="sr-only" for="usuarios_username">Nombre de usuario</label>
                            {{ form_widget(form.username, {"attr": {"class":"form-control bg-info", "autofocus":"true", "disabled":"true", "placeholder":"Nombre de usuario"}}) }}
                            <small class="text-danger">{{ form_errors(form.username) }}</small>
                        </div>
                        <div class="form-group isi_espacioForm">
                            <label class="sr-only" for="usuarios_password">Contraseña</label>
                            {{ form_widget(form.password, {"attr": {"class":"form-control", "autofocus":"true", "pattern":"[A-Za-z0-9-]{8,}", "title":"Debe contener 8 caracteres como mínimo. Puedes usar Mayúsculas, minúsculas y Números", "placeholder":"Contraseña"}}) }}
                            <small class="text-danger">{{ form_errors(form.password) }}</small>
                            {{ form_widget(form.password2, {"attr": {"class":"form-control","pattern":"[A-Za-z0-9-]{8,}", "title":"Debe contener 8 caracteres como mínimo. Puedes usar Mayúsculas, minúsculas y Números", "placeholder":"Repetir contraseña"}}) }}
                            <small class="text-danger">{{ form_errors(form.password2) }}</small>
                        </div>
                        <div class="form-group isi_espacioForm">
                            <label class="sr-only" for="usuarios_salt">Salt</label>
                            {{ form_widget(form.salt, {"attr": {"class":"form-control", "placeholder":"Salt"}}) }}
                            <small class="text-danger">{{ form_errors(form.salt) }}</small>
                        </div>
                        <div class="form-group isi_espacioForm">
                            <label class="sr-only" for="usuarios_salt">Email</label>
                                {{ form_widget(form.email, {"attr": {"class":"form-control", "placeholder":"Mi em@il"}}) }}
                            <small class="text-danger">{{ form_errors(form.salt) }}</small>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group isi_espacioForm">
                                    <div class="col-md-2">
                                        <a id="isi_lnk_usrAvatar" data-toggle="collapse" href="#galeriaAvatar" aria-expanded="false" aria-controls="galeriaAvatar" title="Elije tu avatar">
                                            <img id="isi_img_usrAvatar" class="media-object card-img-top img-thumbnail" src="data:;base64, {{ avatarActu }}">
                                        </a>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card">
                                            <div class="card-header text-xs-center"> Mi Menú </div>
                                            <div class="card-block">
                                                <div class="col-md-3 text-xs-center">
                                                    Color del menú <input id="isi_colorMenu" class="form-control" type="color" value={{app.user.menucolor is not empty ? app.user.menucolor:"#ffffff"}} style="width:200px; height:50px;">
                                                </div>
                                                <div class="col-md-3 text-xs-center">
                                                    Opacidad <input id="isi_opacidadMenu" type="range" id="weight" min="0" value={{app.user.menuopacidad is not empty ? app.user.menuopacidad:"1"}} max="1" step="0.1">
                                                </div>
                                                <div class="col-md-3 text-xs-center">
                                                    Color de letra <input id="isi_colorLetraMenu" class="form-control" type="color" value={{app.user.menucolorletra is not empty ? app.user.menucolorletra:"#4E4E4E"}} style="width:200px; height:50px;">
                                                </div>
                                                <div class="col-md-3 text-xs-center p-t-1">
                                                    <button id="isi_coloresOrig" type="button" class="btn btn-warning">Restaurar colores</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse p-t-1" id="galeriaAvatar">
                                    <div class="card">
                                        <div class="card-header m-x-auto text-xs-center">
                                            Disponibles
                                        </div>
                                        {% for avatar in avatars %}
                                            <img id="avatar-{{loop.index}}" src="{{avatar}}" class="img-rounded m-x-auto d-inline-block isi_img_SelAvatar" style="cursor: pointer">
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                        <div class="text-xs-center p-t-2">
                            <button id="isi_btnGrabar" type="submit" class="btn btn-success" title="Confirmar">
                                &nbsp;<i class="fa fa-check fa-lg" aria-hidden="true"></i>&nbsp;
                            </button>
                        </div>
                        {{ form_widget(form.imagen, {"attr": {"class":"isi_ocultar"}}) }}
                        {{ form_widget(form.roles, {"attr": {"class":"isi_ocultar"}}) }}
                        {{ form_widget(form.menu_color, {"attr": {"class":"isi_ocultar"}}) }}
                        {{ form_widget(form.menu_opacidad, {"attr": {"class":"isi_ocultar"}}) }}
                        {{ form_widget(form.menu_color_letra, {"attr": {"class":"isi_ocultar"}}) }}
                        {{ form_widget(form._token) }} {# Token CSRF sin esto no envia el formulario #}
                    {{ form_end(form, {"render_rest": false}) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block pie %}
{% endblock %}
