{% extends "::base.html.twig" %}
{% block contenido %}
    {{ parent() }}
    {% if usuarios is not empty %}
        <div class="form-group row m-x-auto text-xs-center">
            <div class="alert alert-info" role="alert">
                <strong><label class="col-xs-3 offset-md-2 col-form-label text-xs-right" for="isi_lstPersUsr">Personas en sesión sin usuarios </label></strong>
                <div class="col-xs-4">
                    <select id="isi_lstPersUsr" class="form-control">
                        {% for regi in app.session.get('persSelecBD') %}
                            {% set selecionado = "" %}
                            {% if idSel == regi.id %}
                                {% set selecionado = "selected='selected'" %}
                            {% endif %}
                            <option value="{{url('isi_sesion_usrA')}}/{{regi.id}}" {{selecionado}}>ID: {{regi.id}} - DNI:{{regi.dni}} - {{regi.apellido | title}}, {{regi.nombre | title}} </option>
                        {% endfor %}
                    </select>
                </div><br><br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="card isi_sombra-4x">
                    <div class="card-header m-x-auto text-xs-center">
                        Crear un usuario
                    </div>
                    <div class="card-block">
                        {{ form_start(form, {"attr": {"class": "form-inline"}}) }}
                            <div class="">
                                {{ form_errors(form) }}
                            </div>
                            <div class="form-group isi_espacioForm">
                                <label class="sr-only" for="usuarios_username">Nombre de usuario</label>
                                {{ form_widget(form.username, {"attr": {"class":"form-control", "autofocus":"true", "onblur":"this.value = this.value.toLowerCase();", "placeholder":"Nombre de usuario"}}) }}
                                <small class="text-danger">{{ form_errors(form.username) }}</small>
                            </div>
                            <div class="form-group isi_espacioForm">
                                <label class="sr-only" for="usuarios_password">Contraseña</label>
                                {{ form_widget(form.password, {"attr": {"class":"form-control", "placeholder":"Contraseña"}}) }}
                                <small class="text-danger">{{ form_errors(form.password) }}</small>
                                <label class="sr-only" for="usuarios_password2">Repetir contraseña</label>
                                <input type="password" id="usuarios_password2" name="usuarios[password2]" required="required" class="form-control" placeholder="Repetir contraseña" />
                            </div>
                            <div class="form-group isi_espacioForm">
                                <label class="sr-only" for="usuarios_salt">Salt</label>
                                {{ form_widget(form.salt, {"attr": {"class":"form-control", "placeholder":"Salt"}}) }}
                                <small class="text-danger">{{ form_errors(form.salt) }}</small>
                            </div>
                            <div class="form-group isi_espacioForm">
                                <label class="sr-only" for="usuarios_email">em@ail</label>
                                {{ form_widget(form.email, {"attr": {"class":"form-control", "onblur":"this.value = this.value.toLowerCase();", "placeholder":"em@ail"}}) }}
                                <small class="text-danger">{{ form_errors(form.email) }}</small>
                            </div>
                            <div class="row">
                                <div class="col-md-2 offset-md-0">
                                    <div class="form-group isi_espacioForm">
                                        {{ form_widget(form.roles, {"attr": {"class":"form-control", "size":"6", "title":"Roles"}}) }}
                                    </div>
                                </div>
                                <div class="col-md-10 offset-md-0">
                                    <div class="form-group isi_espacioForm">
                                        <div class="col-md-2 offset-md-0">
                                            <a id="isi_lnk_usrAvatar" data-toggle="collapse" href="#galeriaAvatar" aria-expanded="false" aria-controls="galeriaAvatar" title="Elije tu avatar">
                                                <img id="isi_img_usrAvatar" class="media-object card-img-top img-thumbnail m-x-auto" src="{{ asset('imagenes/avatar/sin_avatar.png') }}">
                                            </a>
                                        </div>
                                        <div class="col-md-3 offset-md-1 p-t-2">
                                            <input type="text" id="isi_img_usrAvatarNomb" class="form-control" placeholder="sin_avatar.png" disabled="true">
                                            <input class="form-control" type="color" value="#563d7c" id="example-color-input" style="width:205px;">
                                            <label class="sr-only" for="usuarios_isActive">activo</label>
                                            <label for="usuarios_isActive">¿Activo?</label>
                                            {{ form_widget(form.isActive, {"attr": {"class":"form-control"}}) }}
                                            <small class="text-danger">{{ form_errors(form.isActive) }}</small>
                                        </div>
                                    </div>
                                    <div class="collapse" id="galeriaAvatar">
                                        <div class="card">
                                            <div class="card-header m-x-auto text-xs-center">
                                                Disponibles
                                            </div>
                                            {% for avatar in avatars %}
                                                <!-- <a id="avatar-{{loop.index}}" href="#"> -->
                                                    <img id="avatar-{{loop.index}}" src="{{avatar}}" class="img-rounded m-x-auto d-inline-block isi_img_SelAvatar" style="cursor: pointer">
                                                <!-- </a> -->
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="usuarios_persona">Persona</label>
                                <div class="form-group isi_espacioForm">
                                    {{ form_widget(form.persona, {"attr": {"class":"form-control", "disabled":"true"}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <button id="isi_btn_grabar" type="submit" class="btn btn-success" title="Confirmar">
                                    &nbsp;<i class="fa fa-check fa-lg" aria-hidden="true"></i>&nbsp;
                                </button>
                            </div>

                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}
{% block pie %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/isisesion/js/isi_sesion.js') }}" type="text/javascript"></script>
{% endblock %}
