{% extends "::base.html.twig" %}
{% block contenido %}
    {{ parent() }}
    <div class="row">
        <div class="col-md-12" align="middle">
            <div class="card isi_sombra-4x">
                <div class="card-header">
                    Usuarios
                    <span id="isi_totRegi" name="lst-general" class="tag tag-primary isi_badge ">{{totRegi}}</span>
                </div>
                {% if listado is not empty %}
                    <div name="lst-general" class="card-block isi_listado">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                {% include "::filtro.html.twig" with {"id_filtro": "inp_txt-filtro", "name_filtro":"lst-general", "id_ayuda":"ayuda"} %}
                            </div>
                        </div>
                        <h4 class="card-title"></h4>
                        <div class="table table-striped table-responsive">
                            <table id="isi_lst-general" name="lst-general" class="table table-bordered">
                                <thead id="{{totRegi}}" class="bg-info">
                                    <tr>
                                        <th class="">Avatar</th>
                                        <th class="">Usuario</th>
                                        <th class="">Em@il</th>
                                        <th class="">Apellido</th>
                                        <th class="">Nombre</th>
                                        <th class="">Act.</th>
                                        <th class="">Roles</th>
                                        <th class="text-xs-center">
                                            <i class="fa fa-wrench" aria-hidden="true"></i>
                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for regi in listado %}
                                        <tr id="isi_fila_lst-general-{{regi.id}}">
                                            <label class="isi_filtrable" name="lst-general" for="isi_fila_lst-general-{{regi.id}}">{{regi.username}} {{regi.email}} {{regi.persona.apellido}} {{regi.persona.nombre}}</label>
                                            <td><img src="data:;base64, {{ regi.imagen|trim}}" class="mx-auto d-block isi-usrAvatarMin" alt="Avatar"/></td>
                                            <td>{{regi.username|capitalize}}</td>
                                            <td>{{regi.email}}</td>
                                            <td>{{regi.persona.apellido|title}}</td>
                                            <td>{{regi.persona.nombre|title}}</td>
                                            <td class="text-xs-center">
                                                {% if regi.isactive %}
                                                    <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                                                {% else %}
                                                    <i class="fa fa-ban fa-lg text-danger" aria-hidden="true"></i>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% for rol in regi.roles %}
                                                    {{rol.name|lower}}{% if not loop.last %},{% endif %}
                                                {% endfor %}
                                            </td>
                                            <td class="text-xs-center">
                                                <a id="isi_lnk_editar{{regi.id}}" href="{{url('isi_sesion_usrM', {'id': regi.id})}}" title="Editar">
                                                    <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-12 text-xs-center">
            <br>
            <a id="isi_lnk_nuevo" class="btn btn-success" title="Agregar un usuario" href="{{url('isi_sesion_usrA')}}">
                &nbsp;<i class="fa fa-plus fa-lg" aria-hidden="true"></i>&nbsp;
            </a>
        </div>
    </div>
<br>
{% endblock %}
{% block pie %}
{% endblock %}
