{% extends "::base.html.twig" %}
{% block contenido%}
    {{ parent() }}
    {% if is_granted("IS_AUTHENTICATED_ANONYMOUSLY") %}
        <div class="row p-t-3">
            <div class="col-md-3 offset-md-4">
                <div class="card isi_sombra-4x">
                    <div id="isi_imgUsr" class="p-t-1">
                        {% if not app.user  %}
                            <img class="media-object card-img-top img-circle m-x-auto" src="{{ asset('imagenes/sin_imagen_personal.png') }}">
                            <p>&nbsp;</p>
                        {% else %}
                            {% if app.user.imagen | trim is empty %}
                                <img class="media-object card-img-top img-circle m-x-auto" src="{{ asset('imagenes/sin_imagen_personal.png') }}">
                            {% else %}
                                <img class="media-object card-img-top img-circle m-x-auto" src="data:;base64, {{app.user.imagen | trim}}"/>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div id="isi_nomUsr">
                        {% if app.user  %}
                            <p class="text-xs-center text-muted">{{ app.user.username }}</p>
                        {% endif %}
                    </div>
                    <div class="card-block">
                        {% if app.user  %}
                            <h4 class="card-title text-xs-center">Cambio de usuario
                                <p class="text-xs-center "><small class="text-muted"> actual: {{ app.user.username }}</small></p>
                            </h4>
                        {#% else %#}
                        {% endif %}
                        {{ form_start(form, {"attr": {"class": "form-group row"} }) }}
                            {{ form_errors(form) }}
                            <fieldset class="form-group">
                                {{ form_errors(form.username) }}
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;</div>
                                    {{ form_widget(form.username, {"attr": {"class":"form-control", "placeholder":"usuario", "autofocus":"true", "src": url('isi_sesion_actuAvatar') } }) }}
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                {{ form_errors(form.password) }}
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></div>
                                    {{ form_widget(form.password, {"attr": {"class":"form-control", "placeholder":"contrase침a"} }) }}
                                </div>
                                <small class="text-muted">Nunca revele sus contrase침as.</small>
                            </fieldset>
                            <fieldset>
                                <div class="text-xs-center m-x-auto">
                                    <button id="IniSesion" type="submit" class="btn btn-primary">
                                        Iniciar sesi칩n <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>
                                    </button>
                                </div>
                                {% if app.user  %}
                                <a id="volverSist" class="btn btn-secondary-outline btn-lg" href="{{ url('isi_sesion_homepage') }}" title="Volver al sistema">
                                    <i class="fa fa-desktop fa-lg" aria-hidden="true"></i>
                                </a>
                                {% endif %}
                                <a id="pagPpal" class="btn btn-secondary-outline btn-lg" href="{{ url('isi_publico_homepage') }}" title="P치gina de inicio">
                                    <i class="fa fa-home fa-lg" aria-hidden="true"></i>
                                </a>
                            </fieldset>
                            {{ form_rest(form) }}
                        {{ form_end(form) }}
                        {% if error %}
                            <p class="card-text">
                                <div class="">
                                    <a id="noSeMiClave" class="text-muted" href="#" title="Recuperar mi clave">Recuperar mi clave</a>
                                    <span class="text-muted"> &nbsp;<i class="fa fa-key" aria-hidden="true"></i> <i class="fa fa-envelope" aria-hidden="true"></i> </span>
                                </div>
                                {#{ error.message|trans }#}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block menu %}
{% endblock %}
{% block persParaTrabajar %}
{% endblock %}
