{% extends '::index.html.twig' %}

{% block contenido %}
<div class="isi_centrar-horiz">
    {{ parent() }}

        <div id="tituTLista" class="">
        <h5>
            <!-- para abrir un modal debe tener la clase "isi_abrirModal" y el name con el id del div q contiene el modal  -->
            <span id="isi_totRegi_chkGLG" name="chkGLG" class="mdl-badge" data-badge="{{totRegi}}">Identidad de Géneros</span>
            <!-- tengo que ocultar los checkbox de material por que quedan arriba del modal, js onclick del boton -->
            <button id="isi_btn_addIdenGen" name="isi_addIdenGen" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                <i class="material-icons">add</i>
            </button>
            {% if listado is not empty %}
                <div id="isi_busqListad_chkGLG" class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="isi_inpTxt_buscar">
                        <i class="material-icons">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input id="isi_inpTxt_buscar" name="chkGLG" class="mdl-textfield__input isi_filtrar-busqueda" type="text">
                        <label class="mdl-textfield__text" for="isi_inpTxt_buscar"></label>
                    </div>
                </div>
            {% endif %}
        </h5>
    </div>
    {% if listado is not empty %}
    <div class="">
        <!-- <table id="isi_tbl_chkGLG" name="chkGLG" class="mdl-data-table mdl-shadow--2dp isi_centrar-horiz responsive"> -->
        <table id="isi_tbl_chkGLG" name="chkGLG" class="isi_centrar-horiz mdl-shadow--2dp">
            <thead id="{{totRegi}}">
                <tr>
                    <th name="chkGLG" class="isi_ocultar isi_ocultable">
                        <label name="chkGLG" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="isi_inpChk_todos" title="Seleccionar todos">
                            <input id="isi_inpChk_todos" name="chkGLG" type="checkbox" class="isi_chk_grupo mdl-checkbox__input">
                            <span id="isi_totChkSel_chkGLG" name="chkGLG" class="mdl-badge" data-badge="0" style="right:7px;"></span>
                        </label>
                    </th>
                    <th class="mdl-data-table__cell--non-numeric">Género</th>
                    <th class="mdl-data-table__cell--non-numeric">Descripción</th>
                    <th>
                        <button id="isi_btn_menuTLista" class="mdl-button mdl-js-button mdl-button--icon" title="Acciones múltiples">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="isi_btn_menuTLista">
                            <a id="isi_lnk_verAllChk" name="chkGLG" class="mdl-menu__item mdl-menu__item--full-bleed-divider isi_ocultable-cambio">
                                Mostrar MultiCheck
                            </a>
                            <a id="isi_lnk_borrarRegs" name="chkGLG" href="{{path('isi_config_estadoCivilBorrar')}}" class="mdl-menu__item isi_elim_reg">
                                Eliminar selección
                            </a>
                        </ul>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for regi in listado %} <!-- lleno la tabla -->
                <tr id="isi_tr_chkGLG{{regi.id}}" name="chkGLG" value="{{regi.genero}} {{regi.descrip|lower}}" class="isi_filtrable">
                    <td name="chkGLG" class="isi_ocultar isi_ocultable mdl-data-table__cell--non-numeric">
                        <label name="chkGLG" value="{{regi.genero}} {{regi.descrip|lower}}" class="isi_filtrable mdl-checkbox mdl-js-checkbox mdl-data-table__select mdl-js-ripple-effect" for="isi_chkMA{{regi.id}}">
                            <input id="isi_chkMA{{regi.id}}" type="checkbox" name="chkGLG" value="{{regi.id}}" class="mdl-checkbox__input">
                        </label>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">{{regi.genero|capitalize}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{regi.descrip}}</td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <a href="{{url('isi_config_estadoCivilEdicion', {'id': regi.id})}}" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" title="Editar elemento">
                            <i class="material-icons">mode_edit</i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        <br>
    {% endif %}
</div>

<!-- ayudas -->
<div class="mdl-tooltip mdl-tooltip--large" for="isi_btn_addIdenGen">Agregue un Estado Civil</div>
<div class="mdl-tooltip mdl-tooltip--large" for="isi_btnCerrarModal">Cerrar</div>

<!-- modales -->
<div id="isi_addIdenGen" class="isi_modal mdl-layout mdl-layout--fixed-header">
    <!-- <div class="isi_modal-contenido" style="width:80%;"> -->
    <div class="isi_modal-contenido">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title isi_centrar-horiz">NO HABRA MODALES</span>
            </div>
        </header>
        <div class="page-content">
            <div class="" style="text-align: right;">
                <a id="isi_btnCerrarModal" name="isi_addIdenGen" class="isi_cerrarModal isi_cerrarModal-btn mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" >
                    <i class="material-icons">cancel</i>
                </a>
            </div>
            <div class="isi_centrar-horiz">
                no habra modales
                {#{ render(controller('IsiPersonaBundle:EstadoCivil:formulario', {request: app.request})) }#}
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block pie%}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {# el js esta en el Bundle(IsiPersonaBundle por ejemplo) /Resources/public/ js,css,images,etc.
        luego hay que instalarlo via asset
        php bin/console assets:install --symlink
        y se crea un enlace simbolico dentro de raiz/web/bundles/nombreBundleInstalado
    #}
    <script src="{{ asset('bundles/isipersona/js/isi_estadoCivil.js') }}" type="text/javascript"></script>
{% endblock %}
