{% extends '::index.html.twig' %}

{% block contenido %}
<div class="isi_centrar-horiz">
    {{ parent() }}
    <h5>
        <span id="isi_totRegi_chkGIG" name="chkGIG" class="mdl-badge" data-badge="{{totRegi}}">Géneros</span>
        <a id="isi_btn_addIdenGen" name="isi_addIdenGen" href="{{path('isi_config_identGeneroNuevo')}}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
            <i class="material-icons">add</i>
        </a>
        {% if listado is not empty %}
            <div id="isi_busqListad_chkGIG" class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="isi_inpTxt_buscar">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input id="isi_inpTxt_buscar" name="chkGIG" class="mdl-textfield__input isi_filtrar-busqueda" type="text">
                    <label class="mdl-textfield__text" for="isi_inpTxt_buscar"></label>
                </div>
            </div>
        {% endif %}
    </h5>
    {% if listado is not empty %}
        <ul id="isi_lista_chkGIG" class="mdl-list isi_centrar-horiz">
            <li style="text-align:right;">
                <button id="isi_btn_menuTLista" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="isi_btn_menuTLista">
                    <a id="isi_lnk_verAllChk" name="chkGIG" class="mdl-menu__item mdl-menu__item--full-bleed-divider isi_ocultable-cambio">
                        Mostrar MultiCheck
                    </a>
                    <a name="chkGIG" href="{{path('isi_config_identGeneroBorrar')}}" class="mdl-menu__item isi_elim_reg">
                        Eliminar selección
                    </a>
                </ul>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label name="chkGIG" class="isi_centrar-horiz isi_ocultar isi_ocultable mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="isi_inpChk_todos" style="padding-right:0.4em;">
                    <input id="isi_inpChk_todos" name="chkGIG" type="checkbox" class="isi_chk_grupo mdl-checkbox__input">
                    <span id="isi_totChkSel_chkGIG" name="chkGIG" class="mdl-checkbox__label mdl-badge mdl-badge--overlap" data-badge="0"></span>
                </label>
            </li>
            <li class="mdl-menu__item--full-bleed-divider"></li>
            {% for regi in listado %}
                <li id="isi_fila_chkGIG{{regi.id}}" name="chkGIG" value="{{regi.genero|lower}}" class="isi_filtrable mdl-list__item mdl-list__item--three-line mdl-menu__item--full-bleed-divider">
                    <span name="chkGIG" class="mdl-list__item-primary-content" style="text-align:left;">
                        <!-- <i class="material-icons mdl-list__item-avatar">fingerprint</i> -->
                        <span>{{regi.genero|title}}</span>
                        <span class="mdl-list__item-text-body">
                            {{regi.descrip|capitalize}}
                        </span>
                    </span>
                    <span name="chkGIG" class="mdl-list__item-secondary-content">
                        <a id="isi_lnk_editar{{regi.id}}" name="chkGIG" href="{{url('isi_config_identGeneroEdicion', {'id': regi.id})}}" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-list__item-secondary-action">
                            <i class="material-icons">mode_edit</i>
                        </a>
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span name="chkGIG" class="isi_ocultar isi_ocultable mdl-list__item-secondary-action">
                        <label name="chkGIG" value="{{regi.genero|lower}}" class="isi_filtrable mdl-checkbox mdl-js-checkbox mdl-data-table__select mdl-js-ripple-effect" for="isi_chkMA{{regi.id}}">
                            <input id="isi_chkMA{{regi.id}}" type="checkbox" name="chkGIG" value="{{regi.id}}" class="mdl-checkbox__input">
                        </label>
                    </span>
                </li>
            {% endfor %}
        </ul>
        <br>
    {% endif %}
</div>

<!-- ayudas -->
<div class="mdl-tooltip mdl-tooltip--large" for="isi_btn_addIdenGen">Agregue un género</div>
<div class="mdl-tooltip mdl-tooltip--large" for="isi_totChkSel_chkGIG">Seleccionar todos</div>
<div class="mdl-tooltip mdl-tooltip--large" for="isi_lnk_editar">Editar</div>
<div class="mdl-tooltip mdl-tooltip--large" for="isi_btn_elimRegSel">Eliminar selección</div>
{% endblock %}
