{#  En el controlador el paso las variables idForm y urlAction si estan vacias utilizo
    por defecto  'formGrabarReg' y url('isi_config_estadoCivilFormulario')}}
    Esto lo hago para usar el mismo formulario con diferentes controladores
    y si algun submit del formulario esta manejado con ajax (caso de id = formEstCivil)
#}
<div class="isi_centrar-horiz">
    {{ form_start(form, {'attr': {
        'id'      : idForm is not empty ? idForm  : 'formGrabarReg'
        , 'action': urlAction is not empty ? urlAction : url('isi_config_estadoCivilFormulario')}}
        ) }}
        <div class="">
            {{ form_errors(form) }}
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form_errors(form.descrip) }}
            {{ form_widget(form.descrip, {"attr": {"class":"mdl-textfield__input isi_txt_mins", "maxlength":"30", "onfocus":"select();", "onblur":"this.value = this.value.toLowerCase();", "autofocus":"true"}} ) }}
            <label class="mdl-textfield__label" for="est_civiles_descrip" style="font-size:1em;">Estado Civil</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form_errors(form.codindec) }}
            {{ form_widget(form.codindec, {'attr': {"class":"mdl-textfield__input"}} ) }}
            <label class="mdl-textfield__label" for="est_civiles_codindec" style="font-size:1em;">Codigo del Indec</label>
        </div>
        <div class="isi_centrar-horiz">
            <button id="isi_btn_grabar" type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
              <i class="material-icons">done</i>
            </button>
        </div>
    {{ form_widget(form._token) }} {# Token CSRF sin esto no envia el formulario #}
    {{ form_end(form, {'render_rest': false}) }} {# de esta forma no estan en la pagina el resto del formulario (usr crea, actu, ip crea, actu, fecha crea, actu) #}
</div>
<!-- ayudas -->
<div class="mdl-tooltip mdl-tooltip--large" for="isi_btn_grabar">Confirmar</div>
