{#  En el controlador el paso las variables idForm y urlAction si estan vacias utilizo
    por defecto  "formGrabarReg" y url("isi_config_estadoCivilFormulario")}}
    Esto lo hago para usar el mismo formulario con diferentes controladores
    y si algun submit del formulario esta manejado con ajax (caso de id = formEstCivil)
#}
<div class="row">
    <div class="col-md-8 col-md-offset-2" align="middle">
        <div class="card isi_sombra-4x">
            <div class="card-header">
                Estado Civil
                <button name="isi_addEstCivil" type="button" class="isi_cerrarModal close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="card-block">
                    <h4 class="card-title">Agregar</h4>
                    {{ form_start(form, {"attr": {"class": "form-inline"
                        ,"id"      : idForm is not empty ? idForm  : "formGrabarReg"
                        , "action": urlAction is not empty ? urlAction : url("isi_config_estadoCivilFormulario")}}
                        ) }}
                        <div class="">
                            {{ form_errors(form) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.descrip) }}
                            <label class="sr-only" for="est_civiles_descrip">Estado Civil</label>
                            {{ form_widget(form.descrip, {"attr": {"class":"form-control", "maxlength":"30", "onfocus":"select();", "onblur":"this.value = this.value.toLowerCase();", "autofocus":"true", "placeholder":"Estado Civil"}} ) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.codindec) }}
                            <label class="sr-only" for="est_civiles_codindec">Cód. Indec</label>
                            {{ form_widget(form.codindec, {"attr": {"class":"form-control", "placeholder":"Código del Indec"}} ) }}
                        </div>
                        <div class="isi_centrar-horiz">
                            <button id="isi_btn_grabar" type="submit" class="btn btn-success">
                                <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                            </button>
                        </div>
                    {{ form_widget(form._token) }} {# Token CSRF sin esto no envia el formulario #}
                    {{ form_end(form, {"render_rest": false}) }} {# de esta forma no estan en la pagina el resto del formulario (usr crea, actu, ip crea, actu, fecha crea, actu) #}

                </div>
        </div>
    </div>
</div>
