{% extends '::index.html.twig' %}

{% block titulo%}
    Estado Civil
{% endblock %}

{#% block menuItems%}
    {% include ":menues:VISTA_item.html.twig" %}
{% endblock %#}

{% block contenido %}

<div class="isi_centrar-horiz">
    {{ parent() }}

        <div id="tituTLista" class="">
        <h5>
            <span id="isi_spn_tituLista" class="mdl-badge" data-badge="{{totRegi}}">Estados Civiles</span>
            <!-- para abrir un modal debe tener la clase "isi_abrirModal" y el name con el id del div q contiene el modal  -->
            <button id="isi_lnk_addEstCivil" name="isi_modalEstCivil" class="isi_abrirModal mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                <i id="isi_i_agrEstCiv" class="material-icons">add</i>
            </button>
            {% if listado is not empty %}
                <div id="isi_div_busqListado" class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="isi_inpTxt_buscar">
                        <i class="material-icons">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input id="isi_inpTxt_buscar" class="mdl-textfield__input" type="text">
                        <label class="mdl-textfield__text" for="isi_inpTxt_buscar"></label>
                    </div>
                </div>
            {% endif %}
        </h5>
    </div>
    {% if listado is not empty %}
        <table id="isi_tbl_listado" class="mdl-data-table mdl-shadow--2dp isi_centrar-horiz">
            <thead id="{{totRegi}}">
                <tr>
                    <th id="isi_cabChkTodos" name="isi_td_verSiNo" class="isi_ocultar">
                        <label name="isi_inpChk_todos" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect isi_no_clase" for="isi_inpChk_todos" title="Seleccionar todos">
                            <input id="isi_inpChk_todos" type="checkbox" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label"></span>
                        </label>
                    </th>
                    <!-- <th> Id </th> -->
                    <th class="mdl-data-table__cell--non-numeric">Estado Civil</th>
                    <th>Cód. Indec</th>
                    <th>
                        <button id="isi_btn_menuTLista" class="mdl-button mdl-js-button mdl-button--icon" title="Acciones múltiples">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="isi_btn_menuTLista">
                            <li id="isi_lnk_verBusc" class="mdl-menu__item">
                                Buscar ...
                            </li>
                            <a id="isi_lnk_estCivNuevo" class="mdl-menu__item" href="{{url('isi_config_estadoCivilNuevo')}}" title="Agregar un Estado Civil sin modal">
                                Estado civil nuevo
                            </a>
                            <a id="isi_lnk_verAllChk" href="#" class="mdl-menu__item mdl-menu__item--full-bleed-divider">
                                Mostrar MultiCheck
                            </a>
                            <a id="isi_lnk_borrarRegs" href="{{path('isi_config_estadoCivilBorrar')}}" class="mdl-menu__item">
                                Eliminar selección
                            </a>
                        </ul>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for ec in listado %} <!-- lleno la tabla -->
                    <tr id="isi_tr_tbl_lis_{{ec.id}}" name="isi_tr_tbl_listado" value="[{{'%03d'|format(ec.codIndec)}}] - {{ec.descrip|lower}}">
                        <td name="isi_td_verSiNo" class="isi_ocultar">
                            <label name="isi_lbl_chkMultiAccion" class="mdl-checkbox mdl-js-checkbox isi_no_clase mdl-data-table__select mdl-js-ripple-effect" for="isi_chkMA{{ec.id}}">
                                <input id="isi_chkMA{{ec.id}}" type="checkbox" name="isi_inpChk_MultiAccion" value="{{ec.id}}" class="mdl-checkbox__input">
                            </label>
                        </td>
                        <!-- <td> {{ec.id}} </td> -->
                        <td class="mdl-data-table__cell--non-numeric">{{ec.descrip|capitalize}}</td>
                        <td>{{ec.codIndec}}</td>
                        <td class="mdl-data-table__cell--non-numeric">
                            <a href="{{url('isi_config_estadoCivilEdicion', {'id': ec.id})}}" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" title="Editar elemento">
                                <i class="material-icons">mode_edit</i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    {% endif %}
</div>

<div id="isi_modalEstCivil" class="isi_modal mdl-layout mdl-layout--fixed-header">
    <div class="isi_modal-contenido" style="width:80%;">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title isi_centrar-horiz">Nuevo Estado Civil</span>
            </div>
        </header>
        <div class="page-content">
            <div class="" style="text-align: right;">
                <a id="isi_btnCerrarModal" name="isi_modalEstCivil" class="isi_cerrarModal isi_cerrarModal-btn mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" >
                    <i class="material-icons">cancel</i>
                </a>
            </div>
            <div class="isi_centrar-horiz">
                {{ render(controller('IsiPersonaBundle:EstadoCivil:formulario', {request: app.request})) }}
            </div>
        </div>
    </div>
</div>

<a name="isi_div_Modal2" class="isi_abrirModal mdl-button mdl-js-button mdl-button--fab mdl-button--colored" title="modal comun">
    <i id="isi_i_agrEstCiv" class="material-icons">launch</i>
</a>
<div id="isi_div_Modal2" name="prueba" class="isi_modal">
    <div class="isi_modal-contenido" style="text-align: right;">
        <a name="isi_div_Modal2" href="#Cerrado" class="isi_cerrarModal mdl-button mdl-js-button mdl-button--icon mdl-button--colored" title="Cerrar ventana">
            <i class="material-icons">cancel</i>
        </a>
        <div class="isi_centrar-horiz">
            <p>
                ñasfjalñsssa
            </p>
            <p>
                ÑALSJFDÑ ASL SAÑDLA
            </p>
        </div>
    </div>
</div>

<!-- ayudas -->
<div class="mdl-tooltip mdl-tooltip--large" for="isi_lnk_addEstCivil">Agregue un Estado Civil</div>
<div class="mdl-tooltip mdl-tooltip--large" for="isi_btnCerrarModal">Cerrar</div>
{% endblock %}
{% block pie%}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {# el js esta en el Bundle(IsiPersonaBundle por ejemplo) /Resources/public/ js,css,images,etc.
        luego hay que instalarlo via asset
        php bin/console assets:install --symlink
        y se crea un enlace simbolico dentro de raiz/web/bundles/nombreBundleInstalado
    #}
    <script src="{{ asset('bundles/isipersona/js/isi_estadoCivil.js') }}" type="text/javascript"></script>
{% endblock %}
