{% extends '::index.html.twig' %}

{% block titulo%}
    Estado Civil
{% endblock %}

{#% block menuItems%}
    {% include ":menues:VISTA_item.html.twig" %}
{% endblock %#}

{% block contenido %}
<div id="isi_modal_base" class="isi_modal_base"></div>

<div class="isi_centrar-horiz">
    {{ parent() }}
        <div id="tituTLista" class="">
        <h5>
            <span id="isi_spn_tituLista" class="mdl-badge" data-badge="{{totRegi}}">Estados Civiles</span>
            <a id="isi_lnk_estCivNuevo" class="mdl-button mdl-js-button mdl-button--fab" href="{{url('isi_config_estadoCivilNuevo')}}" title="Agregar un Estado Civil">
                <i class="material-icons">add</i>
            </a>
            <!-- para abrir un modal debe tener la clase "isi_abrirModal" y el name con el id del div q contiene el modal  -->
            <a name="isi_modalEstCivil" class="isi_abrirModal mdl-button mdl-js-button mdl-button--fab mdl-button--colored" title="link abrir modal">
                <i id="isi_i_agrEstCiv" class="material-icons">playlist_add</i>
            </a>
            <!-- FAB button -->
            <button name="isi_div_Modal" class="isi_abrirModal mdl-button mdl-js-button mdl-button--fab" title="BOTON ABRIR MODAL">
              <i class="material-icons">add</i>
            </button>

            {% if listado is not empty %}
                <div id="isi_div_busqListado" class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="isi_inpTxt_buscar">
                        <i class="material-icons">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input id="isi_inpTxt_buscar" class="mdl-textfield__input" type="text" list="isi_datLis_listBusqEstCiv">
                        <label class="mdl-textfield__text" for="isi_inpTxt_buscar"></label>
                    </div>
                </div>
            {% endif %}
        </h5>
    </div>
    {% if listado is not empty %}

        <table id="isi_tbl_listado" class="mdl-data-table mdl-shadow--2dp isi_centrar-horiz">
            <thead id="{{totRegi}}">
                <tr>
                    <th id="isi_cabChkTodos" name="isi_td_verSiNo" class="isi_quitarElemento">
                        <label name="isi_inpChk_todos" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect isi_no_clase" for="isi_inpChk_todos" title="Seleccionar todos">
                            <input id="isi_inpChk_todos" type="checkbox" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label"></span>
                        </label>
                    </th>
                    <!-- <th> Id </th> -->
                    <th class="mdl-data-table__cell--non-numeric">Estado Civil</th>
                    <th>Cód. Indec</th>
                    <th>
                        <button id="isi_btn_menuTLista" class="mdl-button mdl-js-button mdl-button--icon" title="Acciones múltiples">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="isi_btn_menuTLista">
                            <a id="isi_lnk_verBusc" href="#" class="mdl-menu__item">
                                Buscar ...
                            </a>
                            <a id="isi_lnk_verAllChk" href="#" class="mdl-menu__item mdl-menu__item--full-bleed-divider">
                                Mostrar MultiCheck
                            </a>
                            <a id="isi_lnk_borrarRegs" href="{{path('isi_config_estadoCivilBorrar')}}" class="mdl-menu__item">
                                Eliminar selección
                            </a>
                        </ul>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for ec in listado %} <!-- lleno la tabla -->
                    <tr id="isi_tr_tbl_lis_{{ec.id}}" name="isi_tr_tbl_listado" value="[{{'%03d'|format(ec.codIndec)}}] - {{ec.descrip|lower}}">
                        <td name="isi_td_verSiNo" class="isi_quitarElemento">
                            <label name="isi_lbl_chkMultiAccion" class="mdl-checkbox mdl-js-checkbox isi_no_clase mdl-data-table__select mdl-js-ripple-effect" for="isi_chkMA{{ec.id}}">
                                <input id="isi_chkMA{{ec.id}}" type="checkbox" name="isi_inpChk_MultiAccion" value="{{ec.id}}" class="mdl-checkbox__input">
                            </label>
                        </td>
                        <!-- <td> {{ec.id}} </td> -->
                        <td class="mdl-data-table__cell--non-numeric">{{ec.descrip|capitalize}}</td>
                        <td>{{ec.codIndec}}</td>
                        <td class="mdl-data-table__cell--non-numeric">
                            <a href="{{url('isi_config_estadoCivilEdicion', {'id': ec.id})}}" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" title="Editar elemento">
                                <i class="material-icons">mode_edit</i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    {% endif %}
</div>
<!-- mensajes toast/snack -->
<div id="isi_msjToastSnack" aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button type="button" class="mdl-snackbar__action"></button>
</div>

<div id="isi_modalEstCivil" name="formModalEstCivil" class="isi_modal isi_centrar-horiz">
  <div class="isi_modal-contenido" style="text-align: right;">
    <a name="isi_modalEstCivil" href="#" class="isi_cerrarModal mdl-button mdl-js-button mdl-button--icon" title="Cerrar ventana">
        <i class="material-icons">cancel</i>
    </a>
        {{ render(controller('IsiPersonaBundle:EstadoCivil:formulario', {request: app.request})) }}
  </div>
</div>

<div id="isi_div_Modal2" class="isi_modal isi_centrar-horiz">
  <div class="isi_modal-contenido" style="text-align: right;">
    <a name="isi_div_Modal2" class="isi_cerrarModal mdl-button mdl-js-button mdl-button--icon" title="Cerrar ventana">
        <i class="material-icons">cancel</i>
    </a>
        <p>
            OTRO MODAL MAS
        </p>
  </div>
</div>

<a name="isi_div_Modal2" class="isi_abrirModal mdl-button mdl-js-button mdl-button--fab mdl-button--colored" title="Agregar un Estado Civil">
    <i id="isi_i_agrEstCiv" class="material-icons">playlist_add</i>
</a>
<!-- ayudas (quiar el tittle de los tags)-->
<!-- <div class="mdl-tooltip mdl-tooltip--large" for="isi_lnk_estCivNuevo">Agregar Estado Civil</div>
<div class="mdl-tooltip" for="estCivBorrar">Eliminar selección</div> -->
{% endblock %}
{% block pie%}
{% endblock %}
